.g-dashboard-header {
  margin-bottom: 20px;
  padding: 20px;
  background: $dashboard-header;

  .img-wrapper {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: top;

    .placeholder {
      cursor: pointer;
      border: 1px dashed $orange;
      border-radius: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 13px;
      color: $orange;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .user-wrapper {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    width: calc(100% - 90px);

    .username {
      font-size: 20px;
      color: $carbon;
    }
  }

  .g-level-wrapper {

    .title {
      margin-bottom: 10px;
      font-size: 20px;
      color: $carbon;
    }

    .level-line {
      list-style-type: none;
      padding: 0;
      width: 100%;
      height: 50px;
      position: relative;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        top: 34px;
        border-radius: 2px;
        background: $l-grey;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        top: 34px;
        border-radius: 2px;
        background: $green;
      }

      &.lv1 {

        &:after {
          width: 20%;
        }

        li:first-child:after {
          background: $green;
        }
      }

      &.lv2 {

        &:after {
          width: 40%;
        }

        li:first-child:after {
          background: $green;
        }

        li:nth-child(2):after {
          background: $green;
        }
      }

      &.lv3 {

        &:after {
          width: 60%;
        }

        li:after {
          background: $green;
        }

        li:last-child:after {
          background: $l-grey;
        }

        li:nth-child(4):after {
          background: $l-grey;
        }
      }

      &.lv4 {

        &:after {
          width: 80%;
        }

        li:after {
          background: $green;
        }

        li:last-child:after {
          background: $l-grey;
        }

      }

      &.lv5 {

        li:after {
          background: $green;
        }

        &:after {
          width: 100%;
        }
      }

      li {
        position: relative;
        width: 20%;
        float: left;
        height: 100%;
        display: inline-block;
        text-align: center;

        &:after {
          width: 16px;
          height: 16px;
          position: absolute;
          content: '';
          background: $l-grey;
          border-radius: 50%;
          bottom: 6px;
          left: 50%;
          margin-left: -8px;
        }

        &.active {

          &:after {
            background: $green;
          }

          &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 24px;
            right: -6px;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-left: 12px solid #00A87E;
            z-index: 3;
          }

          span {
            background: $black;
            color: $white;
            position: relative;

            &:after {
              content: "";
              width: 0;
              height: 0;
              bottom: -4px;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              border-left: 4px solid transparent;
              border-right: 4px solid transparent;
              border-top: 4px solid $black;
            }
          }
        }

        span {
          padding: 3px;
          color: $black;
          font-size: 12px;
          border-radius: 4px;
        }
      }
    }
  }
}

.verification-section {

}