.g-navbar {
  background: $white;
  border-radius: 0;
  border-bottom: 1px solid $l-grey;

  .navbar-toggle {
    border: 1px solid $grey;
    .icon-bar {
      background: $grey;
    }
  }

  .navbar-nav {
    color: $grey;

    li a {
      color: $grey;

      &:hover, &:focus, &:active {
        color: $d-grey;
        outline: none;
        background: none;
      }
    }

    .messages-link {

      .messages-label {
        position: relative;
        font-size: 18px;
      }

      .messages-count {
        position: absolute;
        top: -10px;
        right: -14px;
        font-size: 13px;
        z-index: 50;
        width: 20px;
        height: 20px;
        background: $orange;
        color: $white;
        text-align: center;
        border-radius: 50%;
      }
    }

    .user-dropdown {

      .dropdown-toggle {
        padding: 5px 15px;
      }

      .user-name {
        display: inline-block;
        vertical-align: middle;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media all and (max-width: 991px) {
          max-width: 60px;
        }

        @media all and (max-width: 767px) {
          max-width: 100%;
        }
      }

      .user-pic {
        display: inline-block;
        vertical-align: middle;

        .placeholder {
          height: 40px;
          width: 40px;
          border: 1px dashed $orange;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          color: $orange;
          border-radius: 50%;
        }

        img {
          border-radius: 50%;
          height: 40px;
          width: 40px;
          object-fit: cover;
        }
      }
    }
  }

  .navbar-brand {
    padding: 0;

    img {
      padding: 5px 0 5px 5px;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .brand-text {
      display: inline-block;
      vertical-align: middle;
      color: $grey;
      padding: 15px 15px 15px 0;
    }

    &:hover, &:focus, &:active {
      outline: none;
      color: inherit;
    }
  }

  .navbar-collapse {

    .btns-header-divider {
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
    }
  }
}

