$btn-colors: ('orange' $orange $d-orange),
        ('green' $green $d-green),
        ('blue' $blue $d-blue);

.btn {
  padding: 4px 10px 4px;
  font-size: 13px;
  cursor: pointer;

  @each $color in $btn-colors {
    &.btn-#{nth($color, 1)} {
      color: $white;
      background: nth($color, 2);
      border-bottom: 2px solid nth($color, 3);

      &:hover, &:focus, &:active {
        background: nth($color, 3);
        border-bottom: 2px solid nth($color, 3);
        color: $white;
      }
    }
  }

  &.btn-remove {
    width: 29px;
    height: 29px;
    border: 1px solid #c0c0c0;
    font-size: 18px;
    padding: 1px 7px;
    background: $white;
    color: $l-grey;
  }
}

.dropdown {

  .dropdown-menu {
    border-color: $l-grey;
  }

  &.open {
    .dropdown-menu {
      li a {
        &:hover, &:focus, &:active {
          color: $d-grey;
          background: $l-grey;
        }
      }
    }
  }
}

.g-tabs {
  background-color: $tabs-white;
  box-shadow: 1px 1px 5px rgba($black, 0.05) inset, -1px -1px 5px rgba($black, 0.1) inset;
  border-bottom: 1px solid $l-grey;
  margin-bottom: 20px;

  li {
    &.active a {
      margin-top: -5px;
      padding-top: 15px;
      color: $carbon;
    }

    a {
      color: $blue;

      &:hover, &:focus, &:active {
        background-color: $tabs-l-grey;
        border-left-color: $tabs-white;
        border-right-color: $tabs-white;
        border-radius: 0;
        box-shadow: 0 -1px 5px rgba($black, 0.05) inset;
      }
    }
  }
}

.g-list {
  margin-left: 0;
  list-style: none;
  font-size: 13px;
  padding-left: 0;

  li a {
    color: $blue;
  }

  &.grey {
    li, li a {
      color: $grey;
    }
  }
}

.card {
  padding: 15px;
  background: $white;
  border: 1px solid $l-grey;
  border-radius: 3px;
  color: $carbon;

  .title {
    margin: 15px 0;
    padding-top: 15px;
    color: $carbon;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid $l-grey;

    &:first-child {
      border-top: 0;
      margin: 0 0 15px;
      padding: 0;
    }
  }

  .g-list {

    li {
      min-height: 22px;
      font-size: 14px;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      .fa {
        margin-right: 5px;
        font-size: 18px;
        vertical-align: middle;
      }
    }
  }
}

.link {
  color: $blue;
  text-decoration: none;
}

.notifications-wrapper {

  .notifications-section {
    margin-bottom: 60px;

    .title {
      margin-bottom: 5px;
      font-size: 20px;
      color: $carbon;
      padding-bottom: 10px;
      border-bottom: 1px solid $l-grey;

      .fa {
        margin-right: 10px;
      }
    }

    .notification {
      font-size: 13px;
      padding: 5px 0;
      border-bottom: 1px solid $l-grey;
      width: 100%;
      display: flex;
      align-items: center;

      &.unread {
        background: $unread;
      }

      .notification-body {
        width: 50%;
        color: $grey;

        .notification-title {
          margin-bottom: 5px;
          font-weight: 700;
        }
      }

      .events {
        width: 50%;
        text-align: right;

        .btn {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

