$orange: #ff6634;
$d-orange: #c95029;
$green: #00a87e;
$d-green: #006b50;
$blue: #0086BF;
$d-blue: #006590;
$d-grey: #333;
$l-grey: #ddd;
$grey: #777;
$n-grey: #7a7a7a;
$unread: #eff8fd;
$tabs-white: #f9f9f9;
$tabs-l-grey: #f1f1f1;
$dashboard-header: #f2f2f2;
$white: #fff;
$carbon: #413D35;
$black: #000;


.orange {
  color: $orange;
}
.green {
  color: $green;
}
