nav.navbar.g-navbar.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href="#"
        img src="./assets/images/logo.svg" alt="Get Me A Guide"
        .brand-text Get Me A Guide
    #navbar.collapse.navbar-collapse
      .btn.btn-orange.navbar-btn Create a new Tour Request

      ul.nav.navbar-nav.navbar-right
        li
          a href="/dashboard.html" Dashboard
        li
          a.messages-link href="#"
            span.messages-label
              i.fa.fa-envelope
              span.messages-count 99
        / if messages count > 99 write '*' instead of count
        li.dropdown.user-dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
            .user-pic
              / user-pics must be 1x1
              /img src="./assets/images/user.jpg" alt="Bruce Wayne"
              .placeholder
                span BW
            .user-name Bruce Wayne
            span.caret
          ul.dropdown-menu
            li
              a href="#" Profile
            li
              a href="#" Logout