ul.nav.nav-tabs.g-tabs
  li.active role="presentation"
    a.text-capitalize href="#"  dashboard
  - %w(requests tours messages ratings profile).each do |link|
              li role="presentation"
                a.text-capitalize href="/#{link}.html" #{link}