doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Get Me A Guide
    link(rel='stylesheet' href='./assets/css/depStyles.css')
    link(rel='stylesheet' href='./assets/css/styles.css')
  body
    .app
      include ./header
      .container
        .g-tabs-wrapper
          include ./tabs
          .g-dashboard-header
            .row
              .col-sm-5.g-user-part
                .img-wrapper
                  /.placeholder
                    span Add my photo
                  / user-pics must be 1x1
                  img src="./assets/images/user.jpg" alt="Bruce Wayne"
                .user-wrapper
                  .username
                    | Hello,
                    span< Bruce
                  ul.g-list
                    li
                      a href="#" Edit my profile
                    li
                      a href="#" See my public profile
              .col-sm-7.g-level-wrapper
                .title Your current level
                ul.level-line.lv4
                  li
                    span Newcomer
                  li
                    span Intermediate
                  li
                    span Experienced
                  li.active
                    span Expert
                  li
                    span Ambassador

        .row
          .col-sm-4
            .verification-section.card
              .title Profile verification
              ul.g-list
                li
                  a href="#"
                    i.fa.fa-info-circle.orange
                    | Verify your phone number
                li.green
                  i.fa.fa-check-circle
                  strong Email confirmed
              a.link href="#" Complete my profile verification


              .title Member activity
              ul.g-list.grey
                li Member since: Jan 2017

          .col-sm-8
            .notifications-wrapper
              .notifications-section
                .title
                  i.fa.fa-bell
                  | Notifications
                  span.count<
                  | (
                  span 99
                  | )

                .notification
                  .notification-body
                    .notification-title Connect your profile to your LinkedIn account.
                    .text Show the size of your network and more people will choose to travel with you!
                  .events
                    .btn.btn-blue Connect to LinkedIn
                    .btn.btn-remove
                      .fa.fa-close

                .notification.unread
                  .notification-body
                    .text Tell us how you heard about "Get Me A Guide"
                  .events
                    .btn.btn-blue Tell Us
                    .btn.btn-remove
                      .fa.fa-close

              .notifications-section
                .title
                  i.fa.fa-envelope
                  | New messages
                  span.count<
                  | (
                  span 0
                  | )
                .notifications-section-event.text-right
                  a.link href="#" See all my messages






  script(src='./assets/js/scripts.js')
  script(src='./assets/js/app.js')
