doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Get Me A Guide
    link(rel='stylesheet' href='./assets/css/depStyles.css')
    link(rel='stylesheet' href='./assets/css/styles.css')
  body
    .app
      include ./header
    
  script(src='./assets/js/scripts.js')
  script(src='./assets/js/app.js')
